.header-title {
	text-align: center;
}
.fechas, .agrupaciones, .eventos {
	background-color: #9EC8EE;
}
.jumbotron {
	background-color: #FFEED0;
}

#map {
	width: 100%;
	height: 400px;
}

.img-responsive {
	margin: 0 auto;
	max-width: 200px;
}

.panel-footer {
	text-align: center;
	margin: 2em 0 2em 0;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px){
	.fechas, .agrupaciones, .eventos {
		text-align: center;
	}
}

