.header-title {
	text-align: center;
}
.fechas, .agrupaciones, .eventos {
	background-color: white;
	border: 2px solid #9EC8EE;
}

.agrupaciones {
	border: 2px solid #FFEED0;
}
.jumbotron {
	background-color: white;
	border: 2px solid #9EC8EE;
}

#map {
	width: 100%;
	height: 50%;
	padding-bottom: 10%;
}

.img-responsive {
	margin: 0 auto;
	max-width: 200px;
}

.panel-footer {
	text-align: center;
	margin: 2em 0 2em 0;
	border: 2px solid #FFEED0;
	background-color: white;
}

.lugares {
	width: 99%;
	text-align: center;
	background-color: white;
	border: 2px solid #9EC8EE;
	margin: 0 auto;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px){
	.fechas, .agrupaciones, .eventos, h2 {
		text-align: center;
	}

	h2 {
		margin-bottom: 30px;
	}
}

@media (max-width: 700px) {
	.fechas, .agrupaciones, .eventos {
		text-align: center;
		font-size: 25px;
	}

}

