<html ng-app="chorizApp">
    <head>
    	<title></title>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width" initial-scale="1"/>
    	<link href='https://fonts.googleapis.com/css?family=Roboto:300,100,400,700,500' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="css/bootstrap.min.css">
    	<link rel="stylesheet" href="css/style.css"></link>
    </head>
    <body ng-controller="events-controller as events">
        <div class="navbar navbar-default" ng-class="{'navbar-expand':collapsed }">
            <li class="nav-item" ng-click="toggleNav('home')">
                <a class="nav-link">
                    <span>HOME</span>
                    <span style="display:block;"class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </li>
            <li class="nav-item" ng-click="toggleNav('fechas')">
                <a class="nav-link">
                    <span>FECHAS</span>
                    <span style="display:block;"class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </a>
            </li>
            <li class="nav-item" ng-click="toggleNav('agrupaciones')">
                <a class="nav-link">
                    <span>AGRUPACIONES<span>
                    <span style="display:block;"class="glyphicon glyphicon-user" aria-hidden="true">
                </a>
            </li>
             <li class="nav-item" ng-click="toggleNav('eventos')">
                <a class="nav-link">
                    <span>EVENTOS<span>
                    <span style="display:block;"class="glyphicon glyphicon-music" aria-hidden="true">
                </a>
            </li>
             <li class="nav-item" ng-click="toggleNav('mapa')">
                <a class="nav-link">
                    <span>MAPA<span>
                    <span style="display:block;"class="glyphicon glyphicon-map-marker" aria-hidden="true">
                </a>
            </li>
        </div>
        <div class="container content" ng-class="{'content-expand':collapsed }">
            <div class="row publi">
                <img class="img-responsive" src="http://www.doctor-phone.es/img/logo.png">
            </div>
	    	<h1 class="header-title jumbotron">CARNAVAL DE UBRIQUE</h1>
            <div class="ham row" ng-click="collapse()">
                    <div class="ham-line"></div>
                    <div class="ham-line"></div>
                    <div class="ham-line"></div>
            </div>
	    	<div class="row">
			    <fechas ng-show="active=='fechas' || active == 'home' "></fechas>
			    <agrupaciones ng-show="active=='agrupaciones' || active == 'home' "></agrupaciones>
			    <eventos ng-show="active=='eventos' || active == 'home' "></eventos>
			</div> <!-- row -->
            <div class="row lugares" ng-show="active== 'mapa' || active == 'home' ">
		       <h2>Lugares</h2>
            </div>
    		<div class="row" ng-show="active== 'mapa' || active == 'home' ">
    		    <div class="col-xs-10 col-xs-offset-1">
    			    <div id="map"></div>
    		  </div> <!-- row -->
            </div> <!-- row lugares -->
            <div class="panel-footer">
                @franjlopez
            </div> <!--panel-footer -->
        </div>
    	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    	<script src="js/angular.min.js"></script>
    	<script type="text/javascript" src="js/firebase.js"></script>
    	<script src="js/app.js"></script>
    	<script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfr-U34sxOCt5uvZ51YdGrBcU1C2Va3KE
&callback=initMap">
        </script>
    </body>
</html>